# Ignore the dist directory except for specific files
dist/*
!dist/index.js
!dist/Utils.js
!dist/Test1.js

# Ignore the src directory except for specific files
src/*
!src/index.ts
!src/Utils.ts
!src/Test1.ts

# Ignore the node_modules directory
node_modules/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the package lock file
package-lock.json

# Ignore environment variables file
.env

# Ignore any other local development files
*.local
